@mixin game-character($character-name) {
    ion-card-header, h3 {
        color: color($game-character-colors, $character-name);
    }
    div.image {
        background-color: color($game-character-colors, $character-name);
        div {
            background-image: url('/assets/imgs/characters/#{$character-name}.png');
        }
    }
}

character-card {
    div.image {
        border: 5vw solid #fff;
        width: 100%;
        height: calc(80vw);
        background-color: #ccc;
        background-image: radial-gradient(transparent, rgba(0, 0, 0, .4));

        div {
            width: 100%;
            height: 100%;
            background-position: top center;
            background-repeat: no-repeat;
            background-size: auto 200%;
        }
    }
    ion-card-header {
        padding: 8px !important;
    }
    ion-card-header, h3 {
        font-weight: bold !important;
        text-transform: uppercase;
    }
    ion-card-content ion-grid ion-row {
        height: 8rem;
        ion-col {
            height: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            text-align: left;

            p { line-height: 1.2; font-size: 1.3rem !important; }
        }

        div.divider {
            display: inline-block;
            margin: 0 auto;
            width: 1px;
            height: 85%;
            background-color: #ccc;
        }
    }

    @each $key, $color in $game-character-colors {
        ion-card.#{$key} { @include game-character($key); }
    }
}