@mixin checkbox-color($color) {
  margin-bottom: 1px;
  background-color: color($property-colors, $color);

  @if (sky == $color or yellow == $color) {
    color: black;
  } @else {
    color: white;
  }
}

page-calculator {
  ion-navbar h3 { padding-left: 1rem; }

  character-icon {
    width: 40px;
    height: 40px;
    .decoration { display:  none; }
  }

  @each $key, $color in $property-colors {
    ion-item.#{$key} { @include checkbox-color($key); }
  }
}