@mixin checkbox-color($color) {
    .checkbox-ios {
        .checkbox-icon {
            border-color: color($property-colors, $color);
            border-width: 2px;
        }
        .checkbox-checked {
            background-color: color($property-colors, $color);
        }
    }
    .checkbox-md {
        .checkbox-icon {
            border-color: color($property-colors, $color);
        }
        .checkbox-checked {
            background-color: color($property-colors, $color);
        }
    }
}

page-calculator {
    ion-navbar h3 { padding-left: 1rem; }

    @each $key, $color in $property-colors {
        ion-item.#{$key} { @include checkbox-color($key); }
    }
}