@mixin game-character($character-name) {
    div.gradient {
        background-color: color($game-character-colors, $character-name);
        div.image {
            background-image: url('../assets/imgs/characters/#{$character-name}.png');
        }
    }
}

character-icon {
    display: block;
    width: 200px;
    height: 200px;

    div.gradient {
        width: 100%;
        height: 100%;
        background-color: #ccc;
        background-image: radial-gradient(transparent, rgba(0, 0, 0, .4));

        div.image {
            width: 100%;
            height: 100%;
            background-position: top center;
            background-repeat: no-repeat;
            background-size: auto 200%;

            div.decoration {
                width: 100%;
                height: 100%;
                background-position: bottom center;
                background-repeat: no-repeat;
                background-image: url('../assets/imgs/squares.png');
                background-size: 100% auto;
            }
        }
    }

    @each $key, $color in $game-character-colors {
        &.#{$key} { @include game-character($key); }
    }
}
